<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a href="#" class="navbar-brand d-flex w-50 mr-auto">Favorite Videos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item ">
        <a class="nav-link">
          <button (click)="loadExamples()" class="m-1 menu-item-1" matTooltip="Load example movies database"
                  color="accent"
                  mat-button>
            <mat-icon>featured_play_list</mat-icon>
          </button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <button (click)="loadColumns()" class="m-1 menu-item-2" matTooltip="Show videos as grid"
                  color="accent"
                  mat-button>
            <mat-icon>grid_on</mat-icon>
          </button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <button (click)="loadList()" class="m-1 menu-item-3" matTooltip="Show videos as table"
                  color="accent"
                  mat-button>
            <mat-icon>list</mat-icon>
          </button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <button (click)="toggleFavorite()" class="m-1 menu-item-4" matTooltip="Show favorites/all"
                  color="accent"
                  mat-button>
            <mat-icon>favorite</mat-icon>
          </button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <button (click)="toggleSort()" class="m-1 menu-item-5" matTooltip="Sort by date"
                  color="accent"
                  mat-button>
            <mat-icon>sort_by_alpha</mat-icon>
          </button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <button (click)="deleteVideos()" class="m-1 menu-item-6" matTooltip="Delete all videos"
                  color="accent"
                  mat-button>
            <mat-icon>delete</mat-icon>
          </button>
        </a>
      </li>
    </ul>
  </div>
</nav>
