<div *ngIf="videoCollection.length===0" class="row">
  <div class="col-sm-12 text-center">
    <p>no videos in database</p>
  </div>
</div>

<div #scrollTop *ngIf="videoCollection.length>0" class="row">
  <div *ngFor="let video of videoCollection| paginate: {itemsPerPage:itemsPerPage, currentPage:currentPage}" class="col-md-4 my-3">
    <mat-card class=" m-1 example-card">
      <img mat-card-image (click)="viewVideo(video.id,video.type)" src="{{video.img}}" alt="Video image">
      <mat-card-header>
        <mat-card-title>{{video.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="video.views!==null" class="pl-3">Views: {{video.views}}</p>
        <p *ngIf="video.views===null" class="pl-3">Views: 🤐</p>
        <p class="pl-3">Likes: {{video.likes}}</p>
        <p class="pl-3 mat-small">Date added: {{video.dateAdded}}</p>

      </mat-card-content>
      <mat-card-actions>
        <button (click)="viewVideo(video.id,video.type)" mat-button>VIEW</button>
        <button (click)="deleteVideo(video.title)"mat-button>DELETE</button>
        <button *ngIf="video.favorite" mat-icon-button color="accent">
          <mat-icon (click)="favoriteVideo(video.id)">favorite</mat-icon>
        </button>
        <button *ngIf="!video.favorite" mat-icon-button color="accent">
          <mat-icon (click)="favoriteVideo(video.id)">favorite_border</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-sm-12 text-center">
    <pagination-controls previousLabel="Prev"
                         nextLabel="Next" (pageChange)="onPageChange($event, scrollTop)"></pagination-controls>
  </div>
</div>
