img{
  cursor: pointer;
}

mat-card-title{
  height: 80px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.ngx-pagination {
  padding-left: 0;
}
.ngx-pagination .current{
  background: #ff4281 !important;
}
