<div *ngIf="videoCollection.length===0" class="row">
  <div class="col-sm-12 text-center">
    <p>no videos in database</p>
  </div>
</div>

<div *ngIf="videoCollection.length>0" class="row">

  <div class="col-sm-12 jim-table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th style="width: 14%" scope="col"></th>
        <th style="width: 25%" class="text-center" scope="col">Title</th>
        <th style="width: 13%" class="text-center" scope="col">Views</th>
        <th style="width: 13%" class="text-center" scope="col">Likes</th>
        <th style="width: 15%" class="text-center" scope="col">Date added</th>
        <th style="width: 20%" class="text-center" scope="col"></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let video of videoCollection" class="row-car">
        <!--     | paginate: {itemsPerPage: perPage, currentPage: page}; index as index"-->

        <td data-label=""><img class="table-img" src="{{video.img}}" alt="">
        </td>
        <td data-label="Title" class="align-middle "> {{video.title}}</td>
        <td data-label="views" *ngIf="video.views!==null" class="align-middle"> {{video.views}}</td>
        <td data-label="views" *ngIf="video.views===null" class="align-middle"> 🤐</td>
        <td data-label="Likes" class="align-middle "> {{video.likes}}</td>
        <td data-label="Date added" class="align-middle "> {{video.dateAdded}}</td>
        <td class="align-middle text-center">
          <button mat-button>VIEW</button>
          <button mat-button>DELETE</button>
          <button *ngIf="video.favorite" mat-icon-button color="accent"
                  aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button *ngIf="!video.favorite" mat-icon-button color="accent"
                  aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite_border</mat-icon>
          </button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

  <!--  <div class="col-sm-12 text-center">-->
  <!--    <pagination-controls previousLabel="Prev"-->
  <!--                         nextLabel="Next" (pageChange)="onPageChange($event, listTop)"></pagination-controls>-->
  <!--  </div>-->
</div>
